/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: #1e1e1e;
    color: #e0e0e0;
    line-height: 1.6;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */
#header {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: #121212;
    border-bottom: 1px solid #2c2c2c;
    width: 100%;
}

#header span {
    font-size: 28px;
    font-weight: bold;
}

#header a {
    color: #e0e0e0;
    text-decoration: none;
    padding: 8px 18px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#header a:hover {
    background-color: #2c3e50;
}

/* Description */
#description {
    max-width: 1200px;
    margin: auto; /* Vertical margin set to 20px for consistency with #dataForm */
    text-align: center;
    padding: 25px;
    background-color: #2c2c2c;
    border-radius: 10px;
}
.inner-description {
    width: 80%; /* Adjust as needed */
    margin: 0 auto; /* Centers the container */
    text-align: left; /* Aligns the content to the left */
}


#description h2 {
    width: 100%;
    margin-bottom: 20px;
    font-size: 26px;
}

/* Form */
#dataForm {
    font-family: 'Roboto Mono', monospace;
    max-width: 1200px;
    margin: 20px auto; /* Horizontal margin set to auto to center the form */
    padding: 25px; /* Set padding to 25px to match #description */
    background-color: #2c2c2c;
    border-radius: 10px;
}

#dataForm input, #dataForm button {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

#dataForm input[type="text"],
#dataForm input[type="number"],
#dataForm input[type="date"] {
    background-color: #262626;
    color: #e0e0e0;
    border: 1px solid #3a3a3a;
}

/* Button styling */
#dataForm button {
    font-family: 'Roboto Mono', monospace;
    background-color: #2c2c2c;
    color: #e0e0e0;
    transition: background-color 0.3s;
    font-size: 18px;
    width: 100%;
    margin-top: 10px;
    display: block;
    box-shadow: none;
}

#dataForm button:hover {
    background-color: #34495e;
}

/* Add this to your styles.css */
#transactionsDescription,
#pieChartsDescription,
#sankeyDescription {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 25px;
    background-color: #2c2c2c;
    border-radius: 10px;
    display: none;
}



/* Transactions table */
#transactionsTableContainer {
    max-width: 1200px;
    margin: 20px auto;
    overflow-x: auto;
}

#transactionsTableContainer table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#transactionsTableContainer th, #transactionsTableContainer td {
    padding: 15px;
    text-align: center;
    border:1.15px solid #3a3a3a;
}

/* Footer */
footer {
    padding: 15px 0;
    background-color: #121212;
    border-top: 1px solid #2c2c2c;
    width: 100%;
}

#footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

footer a {
    color: #e0e0e0;
    text-decoration: none;
    margin: 0 15px;
    padding: 5px 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 16px;
}

footer a:hover {
    background-color: #2c3e50;
}

/* Loading */
#loading {
    display: none;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

/* Pie charts */
.pie-charts-container {
    display: flex;
    max-width: 80%;
    margin-bottom: 30px;
}

#pieChartsContainer {
    width: 100%;
    height: 50vh; 
}

.pie-charts-container > div {
    flex-grow: 1;
    flex-shrink: 0;
    width: 48%;  
    margin-right: 2%;  
}